<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shop24</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.java</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConnectionTest</display-name>
    <servlet-name>ConnectionTest</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.ConnectionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionTest</servlet-name>
    <url-pattern>/ConnectionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Homepage</display-name>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Afrooz.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header1</url-pattern>
    <url-pattern>/Hee1</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>whosThere</display-name>
    <servlet-name>whosThere</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.whosThere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>whosThere</servlet-name>
    <url-pattern>/whosThere</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>Searching</display-name>
    <servlet-name>Searching</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Searching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searching</servlet-name>
    <url-pattern>/Searching</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>Footer</display-name>
    <servlet-name>Footer</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Footer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/Footer</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>Offers_mail</display-name>
    <servlet-name>Offers_mail</servlet-name>
    <servlet-class>de.Tjorfreb_Bremen.Utility.Offers_mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Offers_mail</servlet-name>
    <url-pattern>/Offers_mail</url-pattern>
  </servlet-mapping>
</web-app>