<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shop24</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.java</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>trist.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>trist.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>International</display-name>
    <servlet-name>International</servlet-name>
    <servlet-class>trist.International</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>International</servlet-name>
    <url-pattern>/International</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddItem</display-name>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>trist.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>trist.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Searching</display-name>
    <servlet-name>Searching</servlet-name>
    <servlet-class>trist.Searching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searching</servlet-name>
    <url-pattern>/Searching</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CurlTry</display-name>
    <servlet-name>CurlTry</servlet-name>
    <servlet-class>trist.CurlTry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurlTry</servlet-name>
    <url-pattern>/CurlTry</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>setzeCookie</display-name>
    <servlet-name>setzeCookie</servlet-name>
    <servlet-class>trist.setzeCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setzeCookie</servlet-name>
    <url-pattern>/setzeCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>nehmeCookie</display-name>
    <servlet-name>nehmeCookie</servlet-name>
    <servlet-class>trist.nehmeCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nehmeCookie</servlet-name>
    <url-pattern>/nehmeCookie</url-pattern>
  </servlet-mapping>
</web-app>